# Get a free API key at: https://www.virustotal.com/gui/my-apikey
VT_API_KEY=43d513a7ad04a8b0ccf75c2679c8bf0b3c852641a080dd3f681c73e6224d0782

# Folder to monitor (created automatically if missing)
WATCH_FOLDER=./watch

# Log file path
LOG_FILE=./scan.log
